<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask</title>
</head>
<body style="background-color: rgba(0,0,255,0.3)">
<!--<h1><u>Name</u>: Burhanuddin-->
<!--<u>Rollno.</u> : 559-->
<!--This is our first flak framework practical-->
<!--</h1>-->
<form action="http://localhost:5000/register_success" method="post">
<center>
<h1>Registration Form</h1>
<p>Name&nbsp;<input type="text" name="Name" /></p>
<p>Email&nbsp;<input type="text" name="Email" /></p>
<p>Contact&nbsp;<input type="text" name="Contact" /></p>
<p>Pincode&nbsp;<input type="text" name="Pin" /></p>
<p><input type="submit" value="submit" />&nbsp;
    <input type="reset" value="clear" /></p>
</center>
</form>


</body>
</html>